@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;

    @include desktop {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    
    @include desktop {
        font-size: 3rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}