.header {
    position: fixed;
    top: 5px;
    z-index: 5;
    display: flex;
    width: 100%;
    max-width: 660px;

    @include tablet {
        max-width: none;
    }

    @include desktop {
        max-width: 100%;
    }
}

.header-nav {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;

    @include smartphone {
        margin-right: 5px;
    }

    li {
        list-style-type: none;
        flex-grow: 1;
        padding-top: 10px;
        text-align: center;

        @include tablet {
            margin-top: 10px;
        }

        @include desktop {
            margin-top: 20px;
        }
    }
    a {
        text-decoration: none;
        background-color: rgba($blue2, .9);
        color: white;
        padding: 5px 10px;

        @include tablet {
            padding: 8px 13px;
        }

        @include desktop {
            padding: 15px 20px;
        }
    }

}

.unvisible {
    display: none;
}