.hero-image {
    position: relative;
    height: 100vh;
    overflow: hidden;

    @include tablet {
        height: 80vh;
    }

}

.hero-image-text {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    text-align: center;
    width: 100%;
}

.hero-title {
    background-color: rgba($blue1, .2);

}

.hero-subtitle {
    background-color: rgba($blue1, .2);
}